<div id="chat">
</div>

<form id="chat_input">
 <div class="form-group"><input type="text" class="form-control" placeholder="Chat..." id="chat_input_box"></div>
</form>

<script src="/js/chat_manager.js"></script>