
<input id="game_id" type="hidden" value={{game_id}} />
<input id="user_id" type="hidden" value={{user_id}} />

 <div id="game_table">
  <img src="../img/turn_order.png" id="turn_order_img" data-toggle="tooltip">


  <div class="container">
   <!-- Trigger the modal with a button -->

   <!-- Modal -->
   <div class="modal fade color_wheel_box" id="color_modal" role="dialog">
    <div class="modal-dialog modal-lg color_wheel_box">
     <div class="modal-content color_wheel_box">
      <div class="modal-body">

       <img src="../img/blue_half_circle.png" class="color_picker close" id="pick_blue" data-dismiss="modal" data-toggle="tooltip" alt="Click to pick blue color" title="Click to pick blue color">
       <img src="../img/green_half_circle.png" class="color_picker close" id="pick_green" data-dismiss="modal" alt="Click to pick green color" title="Click to pick green color">
       <img src="../img/yellow_half_circle.png" class="color_picker close" id="pick_yellow" data-dismiss="modal" alt="Click to pick yellow color" title="Click to pick yellow color">
       <img src="../img/red_half_circle.png" class="color_picker close" id="pick_red" data-dismiss="modal" alt="Click to pick red color" title="Click to pick red color">

      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="opponent_area" id="opponent7">
  <p class="user_name"></p>
  <img src="../img/hand_back_1.png" alt="Uno hand" class="opponent_hand">
    <img src="" class="avatar">

  <div id="uno_opponent7">
  </div>
 </div>
 <div class="opponent_area" id="opponent6">
  <p class="user_name"></p>
  <img src="../img/hand_back_1.png" alt="Uno hand" class="opponent_hand">
    <img src="" class="avatar">

  <div id="uno_opponent6">
  </div>
 </div>
 <div class="opponent_area" id="opponent5">
  <p class="user_name"></p>
  <img src="../img/hand_back_1.png" alt="Uno hand" class="opponent_hand">
    <img src="" class="avatar">

  <div id="uno_opponent5">
  </div>
 </div>
 <div class="opponent_area" id="opponent4">
  <p class="user_name"></p>
  <img src="../img/hand_back_1.png" alt="Uno hand" class="opponent_hand">
    <img src="" class="avatar">

  <div id="uno_opponent4">
  </div>
 </div>
 <div class="opponent_area" id="opponent3">
  <p class="user_name"></p>
  <img src="../img/hand_back_1.png" alt="Uno hand" class="opponent_hand">
    <img src="" class="avatar">

  <div id="uno_opponent3">
  </div>
 </div>
 <div class="opponent_area" id="opponent2">
  <p class="user_name"></p>
  <img src="../img/hand_back_1.png" alt="Uno hand" class="opponent_hand">
    <img src="" class="avatar">

  <div id="uno_opponent2">
  </div>
 </div>
 <div class="opponent_area" id="opponent1">
  <p class="user_name"></p>
    <img src="" class="avatar">

  <img src="../img/hand_back_1.png" alt="Uno hand" class="opponent_hand">
  <div id="uno_opponent1">
  </div>
 </div>

 <div id="active_pile">
  <img src="/img/uno_back.png" class="card" id="top_card">
 </div>

 <div id="discard_pile">
 </div>
    
<div id="top_card_color"></div>  

 
 <div id="uno_hit">
 </div>


 <div id="player_area">
  <div id="player_hand">

  </div>

  <button type="button" class="btn btn-success" id="skip" disabled>Skip my turn</button>
  <button type="button" class="btn btn-success" id="confirm" disabled>Play selected card</button>
  <button type="button" class="btn btn-danger" id="cancel" disabled>Cancel move</button>

  <p class="user_name"></p>
  <img src="" class="avatar">

 </div>
{{>chat}}