<div style="height:500px;border:5px solid yellowgreen;overflow:auto;">

<table id = "messages">
<th style="width:50%;height:500px;">

  <input id="game_id" type="hidden" value={{game_id}} />
  <table id = "game_wating">
    <tr >
      <th style="border:1px solid red">CURRENT PLAYERS</th>
    </tr>
  </table>
  {{#if can_start}}
  <form class="" action="/game/{{game_id}}start" method="POST">
    <button id="start_game" type="submit" style="width:auto;" class="dataSub btn btn-success">Start Game</button>
  </form>
  {{/if}}

</th>

<th >
<div id="chatBox" style="height:500px;border:5px solid cyan;overflow:auto;">{{>chat}}</div>

</th>
</table>

</div>
<script src="/js/waiting_room.js"></script>
