
    <div class="container center_div">
        <form action="action_page.php">

            <div class="container">
                <h2>Welcome to Uno!</h2>
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="button" class="btn btn-success">Login</button>
                <button type="button" class="dataCheck btn btn-primary" data-toggle="modal" data-target="#myModal">Register new user</button>

                <label>
    
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
            </div>
        </form>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Register new user</h4>
                </div>
                <div class="modal-body">
                    <form action="/action_page.php">
                        <div class="form-group">
                            <label for="loginName">Login name:</label>
                            <input type="loginName" class="form-control" id="loginName">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="confPwd">Confirm password:</label>
                            <input type="confPwd" class="form-control" id="confPwd">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button id="confirm_submit_create_user_button" type="button" class="dataSub btn btn-success">Submit</button>
                    <button type="button" class="btn btn-danger emptyPreview" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>