<div style="height:500px;border:5px solid yellowgreen;overflow:auto;">

<table id = "messages">
<th style="width:50%;height:500px;">

  <table id = "games">

    <tr>
      <th style="border:1px solid red">GAME NUMBER</th>
      <th style="border:1px solid red">HOST</th>
      <th style="border:1px solid red">NO PLAYERS</th>
      <th style="border:1px solid red">STATUS</th>
    </tr>
  </table>
  <button id="create_game" style="width:auto;" type="submit" class="dataSub btn btn-success">Create Game</button>

</th>
<th >
<div id="chatBox" style="height:500px;border:5px solid cyan;overflow:auto;">{{>chat}}</div>
</th>
</table>

</div>
<script src="/js/lobby_games.js"></script>
