<div class="container player_list">
  <input id="game_id" type="hidden" value={{game_id}} />
  <table id = "game_wating" class="table table-bordered table-hover table-fixed">
    <thead>
     <tr>
      <th class="th1">#</th>
      <th class="th2">Username</th>
      <th class="th3">Status</th>
     </tr>
    </thead>
  </table>
  {{#if can_start}}
  <form class="" action="/game/{{game_id}}start" method="POST">
    <button id="start_game" type="submit" style="width:auto;" class="dataSub btn btn-success">Start Game</button>
  </form>
  {{/if}}
</div>

<div id="chatBox"> {{>chat}}</div>
<script src="/js/waiting_room.js"></script>
